header {


    & #logo {
        width: 15%;

    }
    box-shadow: 0 4px 2px -2px gray;

    & .button_header {
        position: absolute;
        left: 70px;
    }


}

body {
    & .intro {
        display: flex;
        flex-direction: column-reverse;
    }

    & #fonctionnement {
        height: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 50px;

        & #card_zone {
            flex-direction: row;
            width: 90%;
            align-self: center;
            height: fit-content;
            margin-top: 50px;
            margin-bottom: 50px;

            & .card_fonctio {
                height: fit-content;
                 
                & h2 {
                    font-size: 150%;
                }
            }
        }
    }

    & #presentation {
        margin-bottom: 0;
    }

    & #localisation {
        background: #cecece;
    }

    & #restaurants {
        flex-direction: row;
        
        & #card_resto_zone {

            display: flex;
            width: 100%;
            flex-direction: row;
            overflow-inline: auto;
            overflow-y: hidden;
            align-items: center;

        }

        & .card_resto {
            min-width: 600px;
            width: 100%;
            margin-left: 20px;
            


            .img_resto {
                width: 100%;
                height: 20vw;
                object-fit: cover;

            }
        }
    }
}

.card_zone_resto {
    width: 75%;
    align-items: flex-end;
    margin-left: auto;
margin-right: 0px;

}

footer {
    height: 167px;
    display: flex;
    justify-content: space-around;

    & #list_footer {
        margin: 10px;
        height: 50%;

    }
}
