

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
  }
  
  .loader {
      position: fixed;
      background-color: #f1ebeb;
      height: 110vh;
      inset: 0;
      z-index: 1;
      animation: disparition 1.7s;
      animation-fill-mode: forwards;
      transform-origin: top;
  }
  
  @keyframes disparition {
      0% {
          transform: scale(1);
      }
  
      99% {
          transform: scale(1);
      }
      100% {
          transform: scale(0);
      }
  }

  
  

.anim {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;

}

#chaudron {
    width: 300px;
    position: relative;
    z-index: 2;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    50%{
        transform: rotate(360);
    }
    100% {
        transform: rotate(0);
    }
}

.couv {
    animation: gauche_droite 2s infinite ease-in-out;
}
.spoon {
    font-size: 1000%;
    position: relative;
    z-index: 1;
    left: 80px;
    top: 100px;
    animation: flickerAnimation 2s infinite ease-in-out;
}

@keyframes flickerAnimation {

    25%  { 
         transform: rotate(180deg);
    }

    75% {
        transform: rotate(100deg); 
    }

  }

@keyframes gauche_droite {
    25% {
        transform: translate(100px);
    }
    75% {
        transform: translate(-100px);
    }
    
}
