h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.loader {
  position: fixed;
  background-color: #f1ebeb;
  height: 100vh;
  inset: 0;
  z-index: 1;
  -webkit-animation: disparition 2s;
          animation: disparition 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
}

#chaudron {
  width: 300px;
  position: relative;
  z-index: 2;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360);
            transform: rotate(360);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360);
            transform: rotate(360);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.couv {
  -webkit-animation: gauche_droite 2s infinite ease-in-out;
          animation: gauche_droite 2s infinite ease-in-out;
}

.spoon {
  font-size: 1000%;
  position: relative;
  z-index: 1;
  left: 80px;
  top: 100px;
  -webkit-animation: flickerAnimation 2s infinite ease-in-out;
          animation: flickerAnimation 2s infinite ease-in-out;
}

@-webkit-keyframes flickerAnimation {
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

@keyframes flickerAnimation {
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
}

@-webkit-keyframes gauche_droite {
  25% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  75% {
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
}

@keyframes gauche_droite {
  25% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  75% {
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }
}
/*# sourceMappingURL=testloader.css.map */